TAGS
*~
.*~
.#*
\#*#
*/*~
*/.*~
*/.#*
*/#*#
*.pyc
*/*.pyc
.*cache/
finitediff/*.so
src/*.mod
src/tests/*.mod
src/tests/*.o
src/tests/test_finitediff_fort
src/tests/test_finitediff
build/
cython_debug/
MANIFEST
dist/
doc/
finitediff/_finitediff_templated.cpp
*.egg-info
tests/test_finitediff_templated
examples/demo
tests/catch.hpp
examples/a.out
examples/demo_ord
examples/demo_ordering
**.ipynb_checkpoints/