TAGS
*~
.*~
.#*
\#*#
*/*~
*/.*~
*/.#*
*/#*#
*.pyc
*/*.pyc
.*cache/
finitediff/*.so
src/*.mod
build/
cython_debug/
MANIFEST
dist/
doc/
finitediff/_finitediff_templated.cpp
finitediff/_finitediff_c.c
*.egg-info
examples/demo
examples/a.out
examples/demo_ord
examples/demo_ordering
**.ipynb_checkpoints/